<!-- __      __    __               ___
    /  \    /  \__|  | _ __        /   \
    \   \/\/   /  |  |/ /  |  __  |  |  |
     \        /|  |    <|  | |__| |  |  |
      \__/\__/ |__|__|__\__|       \___/

A web service for sharing opinions and avoiding arguments

@file       forum/templates/board_base.html
@brief      The base template for the wiki-o forum
@copyright  GNU Public License, 2018
@authors    Frank Imeson
-->


{% extends MACHINA_BASE_TEMPLATE_NAME %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}Wiki-O: {{ MACHINA_FORUM_NAME|default:"Forum" }} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'forum/css/custom.css' %}" />
{% endblock css %}

{% block body %}
{% block header %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://www.wiki-o.com">{% block brand %}<img class="img-responsive" src="{% static 'forum/img/logo.svg' %}">{% endblock %}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'forum_member:user_subscriptions' %}"> Subscriptions </a>
            <a class="dropdown-item" href="{% url 'forum_member:user_posts' request.user.id %}"> My Posts </a>
            {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
            {% if can_access_moderation_queue %}
              <a class="dropdown-item" href="{% url 'forum_moderation:queue' %}"> Moderation Queue </a>
            {% endif %}
            <a class="dropdown-item" href="/accounts/logout/?next={{ request.path }}"> Logout </a>
          </div>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/accounts/login/?next={{ request.path }}"> Login </a>
        </li>
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'forum_search:search' %}">{% trans "Advanced search" %}</a>
      </li>
    </ul>
    <form class="form-inline my-2 ml-3 my-lg-0" role="search" action="{% url 'forum_search:search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>
  </div> <!-- navbar-collapse -->
</nav>
{% endblock header %}

<div class="my-5 container" id="main_container">
  {% block content_header %}
    <div class="row">
      <div class="col-12">
        <br />
        {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
        {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
      </div>
    </div>
  {% endblock content_header %}
  {% block content %}
  {% endblock content %}
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/machina.packages.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
</script>
{% endblock js %}
